@font-face {
    font-family: 'BarlowSemiCondensed-Medium';
    src: url('./fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'BarlowSemiCondensed-SemiBold';
    src: url('./fonts/BarlowSemiCondensed-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'BarlowSemiCondensed-Regular';
    src: url('./fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html
{
    background-image: url(images/favicon-32x32.png) fixed center ;
    background: couverture;
}

main
{
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-evenly;
    width: 1900px;
    height: 1080px;
    background-color: #EDF2F8;
    margin: 10% auto auto 10%;
    padding: 50px 5px 20px 5px;    
}

.container
{
    width: 1800px;
    height: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
}

.element
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 31%;
    height: 30%;
    padding: 40px;
    border-radius: 15px;
    font-size: 30px;
    text-align: left;
}

.element:nth-child(1)
{
    width: 48%;
    height: 30%;
    background: #733FC8 ;
    margin-right: 40px;
}

.element:nth-child(2)
{
    width: 24%;
    height: 30%;
    background-color: #49556B;
    margin-right: 40px;
    color: #FFF;
}

.element:nth-child(3)
{
    width: 24%;
    margin: -180px 40px 0 0;
    background-color: #FFF;
}

.element:nth-child(4)
{
    margin: -185px 40px 0 0;
    width: 48%;
    height: 30%;
    background-color: #18202D;
    color: #FFF;
}

.kira
{

    width: 320px;
    height: 71%;
    border-radius: 15px;
    margin: 113px 120px -40px 0px;
    padding: 40px;
    background-color: #FFF;
    color: #989A9D;
    font-family:  'BarlowSemiCondensed-SemiBold', sans-serif;
    font-size: 18px;
}

.element, .kira
{
    box-shadow: 4px 8px 2px #D2D6DD;
}

span
{
    display: block;
    align-content: column;
    font-size: 1.3rem;
    width: 220px;
    margin: 4px 0 0 70px;

}

/* profil image*/
img
{
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 0px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.unfloat
{
    clear: both;
}

img[title="photo-daniel"]
{
    border: 2px solid A775F2;
}

img[title="photo-patrick"]
{
    border: 2px solid #733FC8;
}

/* font layout */


.kira p:first-of-type
{
    font-family:  'BarlowSemiCondensed-SemiBold', sans-serif;
    font-size: 28px;
    white-space: pre-wrap;
    opacity: 1;
    color: black;
    line-height: 2.1rem;
    margin-top: 20px;
}
.kira span:first-of-type
{
    display: block;
    align-content: column;
    font-size: 1.3rem;
    width: 220px;
    margin: 6px 0 0 70px;
    color: black;
    margin-top: -5px;
    padding: 0;
}

.kira p, .daniel p, .jonathan P, .jeanette p, .patrick p
{
    font-family: 'BarlowSemiCondensed-Regular', Arial, Helvetica, sans-serif;
    padding-right: 20px;
    padding-top: 2px;
    font-size: 17px;
    line-height: 1.7rem;
    opacity: 0.8;
    margin-left: 5px 0 0 1.3rem;
}

.kira img
{
    width: 40px;
    height: 40px;
}

.kira span
{
    font-size: 1.1rem;
    text-align: left;
    margin-left: 70px;
}

.daniel
{
    color: #e5e6e9
}

.element p:first-of-type
{
    font-family:  'BarlowSemiCondensed-SemiBold', sans-serif;
    font-size: 25px;
    white-space: pre-wrap;
    opacity: 1;
    line-height: 2rem;  
}

.element span, .element p
{
    opacity: 0.6;
}

.element span:first-of-type
{
    opacity: 1;
    margin-top: -10px;
}

.daniel
{
    background-image: url("images/bg-pattern-quotation.svg") ;
    background-position: top;
    background-repeat: no-repeat;
    background-position-x: 440px;
    background-size: 140px;
}






